.bright-red {
  color: #fb4934;
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  src: url(../fonts/Roboto-Italic.ttf) format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-weight: normal;
  src: url(../fonts/Roboto-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-weight: bold;
  src: url(../fonts/Roboto-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-weight: bold;
  font-style: italic;
  src: url(../fonts/Roboto-BoldItalic.ttf) format("truetype");
}
@font-face {
  font-family: "FantasqueSansM Nerd Font Mono";
  font-style: italic;
  src: url(../fonts/FantasqueSansMNerdFontMono-Italic.ttf) format("truetype");
}
@font-face {
  font-family: "FantasqueSansM Nerd Font Mono";
  font-weight: normal;
  src: url(../fonts/FantasqueSansMNerdFontMono-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "FantasqueSansM Nerd Font Mono";
  font-weight: bold;
  src: url(../fonts/FantasqueSansMNerdFontMono-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "FantasqueSansM Nerd Font Mono";
  font-weight: bold;
  font-style: italic;
  src: url(../fonts/FantasqueSansMNerdFontMono-BoldItalic.ttf) format("truetype");
}
body {
  font-family: FantasqueSansM Nerd Font Mono;
  margin: 0px;
  background-color: #282828;
  display: flex;
  justify-content: center;
}

#page {
  width: 768px;
}

@media only screen and (max-width: 768px) {
  #page {
    width: 100vw;
  }
}
h1, h2, h3, h4 {
  margin: unset;
}

h2 {
  color: #b8bb26;
}

h3 {
  color: #83a598;
}

h4 {
  color: #fe8019;
}

hr {
  color: #b8bb26;
}

ol, ul {
  padding-left: 1rem;
}

nav {
  background-color: #1d2021;
  color: #ebdbb2;
  padding: 0rem 1rem;
  border-bottom-style: solid;
  border-width: 5px;
  border-color: #504945;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  all: unset;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

nav li {
  all: unset;
  padding: 1rem 0rem;
}

nav a {
  font-weight: bold;
  padding: 0.3rem;
  color: unset;
  text-decoration: unset;
}

nav a:hover {
  background-color: #ebdbb2;
  color: #282828;
}

#banner {
  min-height: 5rem;
  background-color: #3c3836;
  padding: 1rem;
  display: flex;
  align-items: center;
}

#banner code {
  color: #ebdbb2;
  font-size: 2rem;
}

main {
  background-color: #3c3836;
  padding: 2rem 0rem;
  color: #ebdbb2;
}

main h1 {
  margin-bottom: 1rem;
  padding: 0rem 2rem;
  background-color: #ebdbb2;
  color: #282828;
}

main h3, h4 {
  padding: 0.2rem;
  border-style: solid;
  border-width: 0;
  border-bottom-width: 1px;
}

main a {
  color: #fe8019;
  color: #ebdbb2;
  font-weight: bold;
}

main a:hover {
  color: #ebdbb2;
  background-color: #fe8019;
}

main img {
  max-width: 100%;
}

main figure {
  margin: 1rem 0rem;
  padding: 0.3rem;
  border-style: solid;
  border-width: 2px;
  border-color: #282828;
}

main figcaption {
  background: #32302f;
  padding: 0.2rem;
  font-style: italic;
}

#content {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  text-align: justify;
  font-family: Roboto;
  gap: 1rem;
}

#content p {
  margin: unset;
}

#card {
  background-color: #282828;
  border-radius: 20px;
  margin: 20px;
  display: flex;
  padding: 20px;
  font-family: FantasqueSansM Nerd Font Mono;
}

#card #info {
  flex: 2;
  display: flex;
  flex-direction: column;
}

#card #profile {
  flex: 1;
}

#card #info {
  padding: 1rem;
}

#card #description {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#card hr {
  margin: 1rem;
}

@media only screen and (max-width: 768px) {
  #card {
    flex-direction: column;
    text-align: justify;
  }
  #card #info {
    order: 2;
  }
  #card #profile {
    order: 1;
  }
}
#card figure {
  margin: unset;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#card figcaption {
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  padding: 5px;
}

#card #photo {
  border-radius: 100%;
  border-style: solid;
  border-width: 5px;
  border-color: #ebdbb2;
  aspect-ratio: 1;
  background-image: url("../assets/profile.png");
  background-position: center;
  background-size: 200px;
  min-width: 150px;
}

#posts li {
  display: flex;
  gap: 1rem;
}

#publication-info {
  background-color: #504945;
  padding: 0.5rem 1rem;
  font-weight: bold;
}

.codehilite pre {
  padding: 1rem;
  overflow: scroll;
}

iframe {
  aspect-ratio: 16/9;
  border-radius: 10px;
}

#content hr, #content figure, #content ol, #content ul {
  margin: unset;
}

blockquote {
  background-color: #32302f;
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem;
  font-style: italic;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ebdbb2;
  padding: 1rem;
}

footer a {
  color: #ebdbb2;
}

footer a:hover {
  background-color: #ebdbb2;
  color: #282828;
}

#socials a {
  background-color: unset;
  text-decoration: unset;
  font-size: 2rem;
}

#socials a:hover {
  color: #fbf1c7;
}

/*# sourceMappingURL=style.css.map */
