footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $light1;
  padding: 1rem;
}

footer a {
  color: $light1;
}

footer a:hover {
  background-color: $light1;
  color: $dark0;
}

#socials a {
  background-color: unset;
  text-decoration: unset;
  font-size: 2rem;
}
#socials a:hover {
  color: $light0;
}
