body {
  font-family: FantasqueSansM Nerd Font Mono;
  margin: 0px;
  background-color: $dark0;
  display: flex;
  justify-content: center;
}

#page {
  width: 100vw;
}

@media only screen and (min-width: 768px) {
  #page {
    width: 768px;
  }
}

h1, h2, h3 {
  margin: unset;
}

h2 {
  color: $bright_green;
}

h3 {
  color: $bright_orange;
}

hr {
  color: $bright_green;
}
