main {
  background-color: $dark1;
  padding: 2rem 0rem;
  color: $light1;
}

main h1 {
  margin-bottom: 1rem;
  padding: 0rem 2rem;
  background-color: $light1;
  color: $dark0;
}

main h3, h4, h4 {
  padding: 0.2rem;
  border-style: solid;
  border-width: 0;
  border-bottom-width: 1px;
}

main a {
  // color: $bright_orange;
  color: $light1;
  font-weight: bold;
}

main a:hover {
  color: $light1;
  background-color: $bright_orange;
}

main img {
  max-width: 100%;
}

main figure {
  margin: 1rem 0rem;
  padding: 0.3rem;
  border-style: solid;
  border-width: 2px;
  border-color: $dark0;
}

main figcaption {
  background: $dark0_soft;
  padding: 0.2rem;
  font-style: italic;
}

#content {
  padding: 1rem 2rem;
  text-align: justify;
  font-family: Roboto;
}
