#publication-info {
  background-color: $dark2;
  padding: 0.5rem 1rem;
  font-weight: bold;
}

.codehilite pre {
  padding: 1rem;
  overflow: scroll;
}

iframe {
  aspect-ratio: 16/9;
  border-radius: 10px;
}

#content {
  hr, figure, ol, ul {
    margin: unset;
  }

}

blockquote {
  background-color: $dark0_soft;
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem;
  font-style: italic;
}
