{% extends 'layout.html' %}

{% block content %}

<h1>Welcome!</h1>
<div id="card">
  <div id="info">
    <h2 id="name">
      Jean Huynh
    </h2>
    <div id="description">
      <p>Hello!</p>
      <p>
        I'm an aspiring Cybersecurity Expert in Reverse Engineering,
        Malware Analysis and Pentesting.
      </p>
      <p>
        I like to hone my skills by participating in CTFs and doing challenges
        on platforms like
        <a target="_blank" href="https://www.root-me.org/feilong">Root-Me</a>.
        When I have free time, I like to work on personal open source project, like
        <a target="_blank" href="https://github.com/jeanmadao/hexcess">hexcess</a>.
      </p>
      <p>
      <a href="mailto:jeanpierrehuynh@proton.me">
        Let's get in touch!
      </a>
      </p>
    </div>
  </div>
  <figure id="profile">
    <div id="photo">
    </div>
    <figcaption>
      source:
      <a target="_blank" href="https://nitorisasami.com/">@nitorisasami</a>
    </figcaption>
  </figure>
</div>
<div id="content">
</div>

{% endblock %}
