{% extends 'layout.html' %}

{% block content %}

<h1>Welcome!</h1>
<div id="card">
  <div id="info">
    <h3 id="name">
      Jean Pierre Huynh
    </h3>
    <div id="description">
      <p>Hello!</p>
      <p>
        I'm a Cybersecurity Expert specialized in Reverse Engineering,
        Malware Analysis and Pentesting.
      </p>
      <p>
        I like to hone my skills by participating in CTFs and doing challenges
        on platforms like HTB and Root-Me.
      </p>
      <p>
        <a href="mailto:huynhjeanpierre@hotmail.com"
          hx-target="main"
          hx-select="main"
          hx-swap="outerHTML">
            Let's get in touch!
        </a>
      </p>
    </div>
  </div>
  <figure id="profile">
    <div id="photo">
    </div>
    <figcaption>
      source: <a target="_blank" href="https://nitorisasami.com/">@nitorisasami</a>
    </figcaption>
  </figure>
</div>
<div id="content">
</div>

{% endblock %}
