<!doctype html>
<html lang="en-US">
  <head>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/htmx.min.js"></script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>RE:feilong</title>
  </head>
  <body hx-boost="true">
    <div id="page">
      {% include 'header.html' %}
      <main>
        {% block content %}{% endblock %}
      </main>
      <hr>
      {% include 'footer.html' %}
    </div>
  </body>
</html>

